<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 800px;
        margin: 50px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>I am Microservice 2! (Dog)</h4>
      <img src="{{url}}" />
      <p><small>Courtesy: <a href="http://www.buzzfeed.com/">Buzzfeed</a></small></p>
    </div>
  </body>
</html>